/* Runtime WOFF2 files copied by build-styles.mjs from app/fonts/.
   The standalone renderer uses the same variable fonts as Next.js.
   Source licenses: docs/brand/source/OFL.txt and OFL-DM-Sans.txt. */
@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 75% 100%;
  font-display: swap;
  src: url('./bricolage.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url('./dm-sans.woff2') format('woff2');
}

:root {
  --font-bricolage: 'Bricolage Grotesque';
  --font-dm-sans: 'DM Sans';
}
